
.login{ 
    text-align: center;
    text-align: -webkit-center;
    display: flex;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    place-content: center;
    background-image: url(../../assets/images/vinhHaLong.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}
    

.login__title {
    font-size:60px;
    margin-bottom: 80px;
    font-family: 'Courier New', Courier, monospace;
    
}

.login__form-email {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.login__form {
    width: 500px;

}

.login__form-emailIcon {
    margin-right: 20px;
    font-size: 24px;
}


.login__form-passIcon {
    margin-right: 20px;
    font-size: 24px;

}

.btnLoginRegister {
    width: 92%;
    float: right;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
}


.btnLoginRegister:hover {
    color: #fff;
    background-color: #0f6572;
    border-color: #127d8d;
    cursor: pointer;

}

.btnLoginRegister:disabled {
    cursor: not-allowed ;
    background-color: #7fe5f5;
}

.btnRegister {
    position: absolute;
    top: 5%;
    right: 4%;
    background-color: lightcoral;
    color: white;
}


.btnRegister:hover {
    color: white;
}

.btnRegister:hover {
        box-shadow: 0 0 0 0.2rem rgb(243 33 43 / 55%);
}