.header {
    margin-top: 60px;
    margin-bottom: 150px;
}

.headerTitle {
    display: flex;
    width:400px;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
    position: absolute;
    right: 50%;
    top: 5%;

}

.headerTitleSm {
    font-size: 24px;
    top: 12%;
    /* transition-duration: 1s ease; */
    
}

.headerTitleLg {
    font-size: 100px;
    top: 1%;
    

}


.headerImage {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  object-fit: cover;
  /* display:none */
}

.slider {
    position: relative;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSlider {
    width: 1600px;
    height: 700px;
    border-radius:10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    cursor: pointer;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    cursor: pointer;
    font-size: 3rem;
    color: #000000;
    z-index: 10;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1.2s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1.2s ;
    transform: scale(1.05);
}

