
.top {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 11;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.topLeft,.topRight {
    flex: 3;
}

.topCenter {
    flex: 6;
    display: inline-block;
    list-style-type: none;
}

.topIcon {
    font-size:26px;
    border-radius:2px;
    margin-right: 12px;
    color: #444;
    cursor: pointer;
    transition: transform 250ms;
}

.topIcon:hover {
    transform: translateY(-5px);
    color:rgb(106, 146, 68);
}

.topList {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.topListItem {
    margin-right: 30px;
    cursor: pointer;
    color: #444;
    font-size: 18px;
    font-weight: 300;
    transition: transform 250ms;
}

.topListItem:hover {
    transform: translateY(-5px);
    color: rgb(106, 146, 68);

}

.topImg {
    width: 30px;
    height: 30px;
    border-radius:50%;
    object-fit: cover;
}

.topIconSearch {
    font-size: 18px;
    cursor: pointer;
    color: #666;
    margin-left: 16px;
}

.topRight {
    align-items:  center;
    display: flex
}